.actions {
  background: url(../../public/image/map.png) $actions-bg;
  background-position: center;
  background-size: cover;
  padding: 121px 0 150px;
}

.actions__form {}

.actions__slider {
  margin-bottom: 80px;
}

.actions__subtitle {
  font-size: 18px;
  line-height: 22px;
  color: $actions-subtitle;
  margin-bottom: 80px;
  text-align: center;
}

.actions__title {
  color:$primiry;
  font-weight: 800;
  font-size: 36px;
  line-height: 43px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

.actions__text--brand {
  color: $brand;
}