:root {
  --primiry: #ffffff;
  --secondary: #272733;
  --tertiary: #000000;
  --brand: #3E9CDC;
  --brand-200: #42A9ED;
  --brand-300: #43ABF0;

  --bg-header: rgba(16, 16, 29, 0.9);
  --color-button: #2A2B30;
  --border-button: #6F6D7B;
  --actions-subtitle: #BBBBBB;
  --actions-bg: #272733;
  --footer-bg: #3D4050;
  --footer-link: #C3C3C3;
  --footer-divider: #C3C3C3;
  --active-select: rgba(61, 64, 80, 0.85);
  --border-select: #3D4050;
  --scrol-track: #3D4050;
  --progres-bg: rgb(255 255 255 / 70%);
  --progres-border: #286690;
  --progres-value: rgba(255, 255, 255, 0.85);
}